header{
    background-color:#0994d0;
}

nav{
    background-color:#9353ec61;
}

section{
    background-color: #17d0f5;
    grid-column: 1/4;
}
aside{
    background-color: #f9cfcf;
}
footer{
    background-color: #5c2af0da;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}